In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

df = pd.read_csv("TMDB_ML.csv")

In [42]:
df_3 = pd.read_csv("name_director.csv")

In [43]:
df_2 = pd.read_csv("test_powerBI.csv")

In [44]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757361 entries, 0 to 757360
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   primaryTitle                  757358 non-null  object
 1   startYear                     652604 non-null  float64
 2   runtimeMinutes                757361 non-null  float64
 3   genres_x                      677476 non-null  object
 4   directors                     654488 non-null  object
 5   category                      732175 non-null  object
 6   averageRating                 328237 non-null  float64
 7   numVotes                      328237 non-null  float64
 8   primaryName                   732139 non-null  object
 9   primaryProfession             706439 non-null  object
 10  knownForTitles                729954 non-null  object
 11  budget                        205274 non-null  float64
 12  genres_y                      205274 non-null  object
 13  original_language             205274 non-null  object
 14  popularity                    205274 non-null  float64
 15  production_countries          205274 non-null  object
 16  revenue                       205274 non-null  float64
 17  vote_average                  205274 non-null  float64
 18  vote_count                    205274 non-null  float64
 19  production_companies_name     205274 non-null  object
 20  production_companies_country  101985 non-null  object
 21  id                            757361 non-null  object
 22  id_imdb                       755526 non-null  object
dtypes: float64(9), object(14)
memory usage: 132.9+ MB

In [45]:
df_2.head()

,primaryTitle,startYear,runtimeMinutes,genres_x,directors,category,averageRating,numVotes,primaryName,primaryProfession,...,original_language,popularity,production_countries,revenue,vote_average,vote_count,production_companies_name,production_companies_country,id,id_imdb
0,The Corbett-Fitzsimmons Fight,1897.0,100.0,"Documentary,News,Sport",nm0714557,self,5.3,556.0,James J. Corbett,"actor,writer,archive_footage",...,en,0.958,['US'],0.0,5.526,20.0,['Veriscope Company'],NaN,nm0179163,tt0000147
1,Bohemios,1905.0,100.0,NaN,nm0063413,actor,3.8,21.0,Antonio del Pozo,actor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0215752,tt0000502
2,The Story of the Kelly Gang,1906.0,70.0,"Action,Adventure,Biography",nm0846879,actress,6.0,983.0,Elizabeth Tait,"actress,archive_footage",...,en,1.672,['AU'],0.0,5.375,28.0,"['Johnson and Gibson', 'J. & N. Tait']","['', '']",nm0846887,tt0000574
3,The Prodigal Son,1907.0,90.0,Drama,nm0141150,actor,5.6,31.0,Georges Wague,actor,...,fr,0.600,['FR'],0.0,0.000,0.0,['Pathé Frères'],['FR'],nm0906197,tt0000591
4,Robbery Under Arms,1907.0,90.0,Drama,nm0533958,actor,4.3,28.0,Jim Gerald,actor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm3071427,tt0000615

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227692 entries, 0 to 1227691
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1227692 non-null  int64
 1   title                 1227679 non-null  object
 2   vote_average          1227692 non-null  float64
 3   vote_count            1227692 non-null  int64
 4   status                1227692 non-null  object
 5   release_date          1000827 non-null  object
 6   revenue               1227692 non-null  int64
 7   runtime               1227692 non-null  int64
 8   adult                 1227692 non-null  bool
 9   backdrop_path         318499 non-null   object
 10  budget                1227692 non-null  int64
 11  homepage              128686 non-null   object
 12  imdb_id               623730 non-null   object
 13  original_language     1227692 non-null  object
 14  original_title        1227679 non-null  object
 15  overview              966848 non-null   object
 16  popularity            1227692 non-null  float64
 17  poster_path           822896 non-null   object
 18  tagline               172298 non-null   object
 19  genres                717825 non-null   object
 20  production_companies  543026 non-null   object
 21  production_countries  664414 non-null   object
 22  spoken_languages      686240 non-null   object
 23  keywords              321255 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 216.6+ MB

In [47]:
colonnes_a_garder = ['id_imdb', 'id', 'directors', 'primaryName', "primaryProfession", "knownForTitles"]
df_2 = df_2[colonnes_a_garder]

In [48]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757361 entries, 0 to 757360
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_imdb            755526 non-null  object
 1   id                 757361 non-null  object
 2   directors          654488 non-null  object
 3   primaryName        732139 non-null  object
 4   primaryProfession  706439 non-null  object
 5   knownForTitles     729954 non-null  object
dtypes: object(6)
memory usage: 34.7+ MB

In [49]:
df_2 = df_2.dropna(subset=['id_imdb'])

In [50]:
merge_df = pd.merge(df, df_2, how='left', left_on='imdb_id', right_on='id_imdb')

In [51]:
merge_df.drop(columns=['id_imdb'], inplace=True)

In [ ]:
# On passe les dates en datetime
merge_df["release_date"] = pd.to_datetime(merge_df["release_date"])

In [53]:
# On garde uniquement les films tout public
merge_df = merge_df[merge_df['adult'] == False]

In [54]:
# On garde uniquement les films réalisé
merge_df = merge_df[merge_df['status'] == "Released"]

In [55]:
# On garde les films après 1950
merge_df = merge_df[merge_df['release_date'] >= "1950-01-01"]

In [56]:
# On garde les films qui ont plus de 20 votes
merge_df = merge_df[merge_df["vote_count"] >=15]

In [57]:
# On garde les films qui ont plus de 1 en notes moyennes
# df = df[df["vote_average"] >=0]

In [58]:
# On garde les films qui ont plus de 1 en popularité
merge_df = merge_df[merge_df["popularity"] >=2]

In [59]:
# On garde les films qui durent plus de 60 minutes
merge_df = merge_df[merge_df["runtime"] >=60]

In [60]:
# On supprime les colonnes qui ne seront pas utilisé dans le ML et le Streamlit (certains on servi de filtre en amont)
merge_df = merge_df.drop(columns = ["adult", "status", "homepage", "spoken_languages", "original_title", "production_countries"])

In [61]:
merge_df = merge_df.dropna(subset=['genres'])

In [62]:
merge_df = merge_df.dropna(subset=['production_companies'])

In [63]:
df = pd.merge(merge_df, df_3, how='left', left_on='directors', right_on='nconst')

In [64]:
df.head()

,id_x,title,vote_average,vote_count,release_date,revenue,runtime,backdrop_path,budget,imdb_id,...,genres,production_companies,keywords,id_y,directors,primaryName_x,primaryProfession,knownForTitles,nconst,primaryName_y
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,tt1375666,...,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc...",nm0000138,nm0634240,Leonardo DiCaprio,"producer,actor,writer","tt1375666,tt0120338,tt0407887,tt0993846",nm0634240,Christopher Nolan
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,tt0816692,...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","rescue, future, spacecraft, race against time,...",nm0000190,nm0634240,Matthew McConaughey,"actor,producer,director","tt0816692,tt0790636,tt1935179,tt1915581",nm0634240,Christopher Nolan
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,tt0468569,...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","joker, sadism, chaos, secret identity, crime f...",nm0000288,nm0634240,Christian Bale,"actor,producer,editorial_department","tt0468569,tt0372784,tt1345836,tt1800241",nm0634240,Christopher Nolan
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,tt0499549,...,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","future, society, culture clash, space travel, ...",nm0941777,nm0000116,Sam Worthington,"actor,producer,director","tt0499549,tt0438488,tt0800320,tt1630029",nm0000116,James Cameron
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,tt0848228,...,"Science Fiction, Action, Adventure",Marvel Studios,"new york city, superhero, shield, based on com...",nm0000375,nm0923736,Robert Downey Jr.,"actor,producer,writer","tt0371746,tt1300854,tt0988045,tt4154796",nm0923736,Joss Whedon

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44566 entries, 0 to 44565
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_x                  44566 non-null  int64
 1   title                 44566 non-null  object
 2   vote_average          44566 non-null  float64
 3   vote_count            44566 non-null  int64
 4   release_date          44566 non-null  datetime64[ns]
 5   revenue               44566 non-null  int64
 6   runtime               44566 non-null  int64
 7   backdrop_path         43084 non-null  object
 8   budget                44566 non-null  int64
 9   imdb_id               44512 non-null  object
 10  original_language     44566 non-null  object
 11  overview              44411 non-null  object
 12  popularity            44566 non-null  float64
 13  poster_path           44558 non-null  object
 14  tagline               25398 non-null  object
 15  genres                44566 non-null  object
 16  production_companies  44566 non-null  object
 17  keywords              35228 non-null  object
 18  id_y                  40936 non-null  object
 19  directors             40915 non-null  object
 20  primaryName_x         40935 non-null  object
 21  primaryProfession     40627 non-null  object
 22  knownForTitles        40917 non-null  object
 23  nconst                37602 non-null  object
 24  primaryName_y         37602 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(5), object(17)
memory usage: 8.5+ MB

In [66]:
df.head()

,id_x,title,vote_average,vote_count,release_date,revenue,runtime,backdrop_path,budget,imdb_id,...,genres,production_companies,keywords,id_y,directors,primaryName_x,primaryProfession,knownForTitles,nconst,primaryName_y
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,tt1375666,...,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc...",nm0000138,nm0634240,Leonardo DiCaprio,"producer,actor,writer","tt1375666,tt0120338,tt0407887,tt0993846",nm0634240,Christopher Nolan
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,tt0816692,...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","rescue, future, spacecraft, race against time,...",nm0000190,nm0634240,Matthew McConaughey,"actor,producer,director","tt0816692,tt0790636,tt1935179,tt1915581",nm0634240,Christopher Nolan
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,tt0468569,...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","joker, sadism, chaos, secret identity, crime f...",nm0000288,nm0634240,Christian Bale,"actor,producer,editorial_department","tt0468569,tt0372784,tt1345836,tt1800241",nm0634240,Christopher Nolan
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,tt0499549,...,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","future, society, culture clash, space travel, ...",nm0941777,nm0000116,Sam Worthington,"actor,producer,director","tt0499549,tt0438488,tt0800320,tt1630029",nm0000116,James Cameron
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,tt0848228,...,"Science Fiction, Action, Adventure",Marvel Studios,"new york city, superhero, shield, based on com...",nm0000375,nm0923736,Robert Downey Jr.,"actor,producer,writer","tt0371746,tt1300854,tt0988045,tt4154796",nm0923736,Joss Whedon

In [67]:
df = df.drop(columns="nconst")

In [68]:
df = df.drop(columns="primaryProfession")

In [69]:
df.isnull().sum()

id_x                        0
title                       0
vote_average                0
vote_count                  0
release_date                0
revenue                     0
runtime                     0
backdrop_path            1482
budget                      0
imdb_id                    54
original_language           0
overview                  155
popularity                  0
poster_path                 8
tagline                 19168
genres                      0
production_companies        0
keywords                 9338
id_y                     3630
directors                3651
primaryName_x            3631
knownForTitles           3649
primaryName_y            6964
dtype: int64

In [70]:
df = df.rename(columns={'id_x': 'id_movie', 'id_y': 'id_actor', 'primaryName_x' : 'actor_name', 'directors' : 'id_productor', 'primaryName_y' : 'productor_name'})

In [71]:
df = df.drop(columns="original_language")

In [76]:
df = df.drop(columns="id_movie")

In [77]:
df.head()

,title,vote_average,vote_count,release_date,revenue,runtime,backdrop_path,budget,imdb_id,overview,...,poster_path,tagline,genres,production_companies,keywords,id_actor,id_productor,actor_name,knownForTitles,productor_name
0,Inception,8.364,34495,2010-07-15,825532764,148,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,tt1375666,"Cobb, a skilled thief who commits corporate es...",...,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc...",nm0000138,nm0634240,Leonardo DiCaprio,"tt1375666,tt0120338,tt0407887,tt0993846",Christopher Nolan
1,Interstellar,8.417,32571,2014-11-05,701729206,169,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,tt0816692,The adventures of a group of explorers who mak...,...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","rescue, future, spacecraft, race against time,...",nm0000190,nm0634240,Matthew McConaughey,"tt0816692,tt0790636,tt1935179,tt1915581",Christopher Nolan
2,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,tt0468569,Batman raises the stakes in his war on crime. ...,...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","joker, sadism, chaos, secret identity, crime f...",nm0000288,nm0634240,Christian Bale,"tt0468569,tt0372784,tt1345836,tt1800241",Christopher Nolan
3,Avatar,7.573,29815,2009-12-15,2923706026,162,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,tt0499549,"In the 22nd century, a paraplegic Marine is di...",...,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","future, society, culture clash, space travel, ...",nm0941777,nm0000116,Sam Worthington,"tt0499549,tt0438488,tt0800320,tt1630029",James Cameron
4,The Avengers,7.710,29166,2012-04-25,1518815515,143,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,tt0848228,When an unexpected enemy emerges and threatens...,...,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,"new york city, superhero, shield, based on com...",nm0000375,nm0923736,Robert Downey Jr.,"tt0371746,tt1300854,tt0988045,tt4154796",Joss Whedon

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44566 entries, 0 to 44565
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 44566 non-null  object
 1   vote_average          44566 non-null  float64
 2   vote_count            44566 non-null  int64
 3   release_date          44566 non-null  datetime64[ns]
 4   revenue               44566 non-null  int64
 5   runtime               44566 non-null  int64
 6   backdrop_path         43084 non-null  object
 7   budget                44566 non-null  int64
 8   imdb_id               44512 non-null  object
 9   overview              44411 non-null  object
 10  popularity            44566 non-null  float64
 11  poster_path           44558 non-null  object
 12  tagline               25398 non-null  object
 13  genres                44566 non-null  object
 14  production_companies  44566 non-null  object
 15  keywords              35228 non-null  object
 16  id_actor              40936 non-null  object
 17  id_productor          40915 non-null  object
 18  actor_name            40935 non-null  object
 19  knownForTitles        40917 non-null  object
 20  productor_name        37602 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(14)
memory usage: 7.1+ MB

In [ ]:
#df.to_csv('final3.csv', index=False)