In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

df = pd.read_csv("total_merge.csv")

C:\Users\pierr\AppData\Local\Temp\ipykernel_6468\1371217147.py:7: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("total_merge.csv")

In [4]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,directors,writers,...,release_date,revenue,runtime,status,tagline,title_y,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN
2,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN
3,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN
4,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN

In [5]:
df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres_x', 'directors', 'writers',
       'titleId', 'title_x', 'isOriginalTitle', 'ordering', 'nconst',
       'category', 'job', 'characters', 'averageRating', 'numVotes',
       'primaryName', 'primaryProfession', 'knownForTitles', 'backdrop_path',
       'budget', 'genres_y', 'homepage', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_countries', 'release_date', 'revenue', 'runtime', 'status',
       'tagline', 'title_y', 'vote_average', 'vote_count',
       'production_companies_name', 'production_companies_country'],
      dtype='object')

In [6]:
print(df.isnull().sum())

tconst                                0
titleType                             0
primaryTitle                         32
originalTitle                        32
isAdult                               0
startYear                        565683
runtimeMinutes                        0
genres_x                         573986
directors                        308500
writers                         1184677
titleId                           16780
title_x                           16812
isOriginalTitle                   16780
ordering                          25186
nconst                            25186
category                          25186
job                             6838618
characters                      5057463
averageRating                   3229065
numVotes                        3229065
primaryName                       25534
primaryProfession                194188
knownForTitles                    41378
backdrop_path                   6349780
budget                          4957792
genres_y                        4957792
homepage                        7918110
imdb_id                         4957792
original_language               4957792
original_title                  4957792
overview                        5198360
popularity                      4957792
poster_path                     5248389
production_countries            4957792
release_date                    5015451
revenue                         4957792
runtime                         4957792
status                          4957792
tagline                         7311233
title_y                         4957792
vote_average                    4957792
vote_count                      4957792
production_companies_name       4957792
production_companies_country    6749497
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8431122 entries, 0 to 8431121
Data columns (total 44 columns):
 #   Column                        Dtype
---  ------                        -----
 0   tconst                        object
 1   titleType                     object
 2   primaryTitle                  object
 3   originalTitle                 object
 4   isAdult                       float64
 5   startYear                     float64
 6   runtimeMinutes                float64
 7   genres_x                      object
 8   directors                     object
 9   writers                       object
 10  titleId                       object
 11  title_x                       object
 12  isOriginalTitle               float64
 13  ordering                      float64
 14  nconst                        object
 15  category                      object
 16  job                           object
 17  characters                    object
 18  averageRating                 float64
 19  numVotes                      float64
 20  primaryName                   object
 21  primaryProfession             object
 22  knownForTitles                object
 23  backdrop_path                 object
 24  budget                        float64
 25  genres_y                      object
 26  homepage                      object
 27  imdb_id                       object
 28  original_language             object
 29  original_title                object
 30  overview                      object
 31  popularity                    float64
 32  poster_path                   object
 33  production_countries          object
 34  release_date                  object
 35  revenue                       float64
 36  runtime                       object
 37  status                        object
 38  tagline                       object
 39  title_y                       object
 40  vote_average                  float64
 41  vote_count                    float64
 42  production_companies_name     object
 43  production_companies_country  object
dtypes: float64(12), object(32)
memory usage: 2.8+ GB

In [8]:
df.sample()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,directors,writers,...,release_date,revenue,runtime,status,tagline,title_y,vote_average,vote_count,production_companies_name,production_companies_country
3437056,tt11282110,video,Lady Dee: Sex Addict,Lady Dee: Sex Addict,1.0,2019.0,125.0,"Adult,Romance",nm7725038,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.dtypes

tconst                           object
titleType                        object
primaryTitle                     object
originalTitle                    object
isAdult                         float64
startYear                       float64
runtimeMinutes                  float64
genres_x                         object
directors                        object
writers                          object
titleId                          object
title_x                          object
isOriginalTitle                 float64
ordering                        float64
nconst                           object
category                         object
job                              object
characters                       object
averageRating                   float64
numVotes                        float64
primaryName                      object
primaryProfession                object
knownForTitles                   object
backdrop_path                    object
budget                          float64
genres_y                         object
homepage                         object
imdb_id                          object
original_language                object
original_title                   object
overview                         object
popularity                      float64
poster_path                      object
production_countries             object
release_date                     object
revenue                         float64
runtime                          object
status                           object
tagline                          object
title_y                          object
vote_average                    float64
vote_count                      float64
production_companies_name        object
production_companies_country     object
dtype: object

In [10]:
df.drop_duplicates(subset ="tconst", keep = 'first', inplace=True)
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,directors,writers,...,release_date,revenue,runtime,status,tagline,title_y,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,1897-01-01,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN
8,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,100.0,NaN,nm0063413,"nm0063413,nm0657268,nm0675388",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",nm0846879,nm0846879,...,1906-12-26,0.0,True,Released,"The Most Sensational, The Most Thrilling and I...",The Story of the Kelly Gang,5.375,28.0,"['Johnson and Gibson', 'J. & N. Tait']","['', '']"
35,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,nm0141150,nm0141150,...,1907-06-19,0.0,True,Released,NaN,The Prodigal Son,0.000,0.0,['Pathé Frères'],['FR']
41,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,90.0,Drama,nm0533958,"nm0092809,nm0533958",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 757361 entries, 0 to 8431108
Data columns (total 44 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   tconst                        757361 non-null  object
 1   titleType                     757361 non-null  object
 2   primaryTitle                  757358 non-null  object
 3   originalTitle                 757358 non-null  object
 4   isAdult                       757361 non-null  float64
 5   startYear                     652604 non-null  float64
 6   runtimeMinutes                757361 non-null  float64
 7   genres_x                      677476 non-null  object
 8   directors                     654488 non-null  object
 9   writers                       546893 non-null  object
 10  titleId                       755387 non-null  object
 11  title_x                       755384 non-null  object
 12  isOriginalTitle               755387 non-null  float64
 13  ordering                      732175 non-null  float64
 14  nconst                        732175 non-null  object
 15  category                      732175 non-null  object
 16  job                           27277 non-null   object
 17  characters                    452704 non-null  object
 18  averageRating                 328237 non-null  float64
 19  numVotes                      328237 non-null  float64
 20  primaryName                   732139 non-null  object
 21  primaryProfession             706439 non-null  object
 22  knownForTitles                729954 non-null  object
 23  backdrop_path                 115659 non-null  object
 24  budget                        205274 non-null  float64
 25  genres_y                      205274 non-null  object
 26  homepage                      29487 non-null   object
 27  imdb_id                       205274 non-null  object
 28  original_language             205274 non-null  object
 29  original_title                205274 non-null  object
 30  overview                      189379 non-null  object
 31  popularity                    205274 non-null  float64
 32  poster_path                   184994 non-null  object
 33  production_countries          205274 non-null  object
 34  release_date                  201059 non-null  object
 35  revenue                       205274 non-null  float64
 36  runtime                       205274 non-null  object
 37  status                        205274 non-null  object
 38  tagline                       60820 non-null   object
 39  title_y                       205274 non-null  object
 40  vote_average                  205274 non-null  float64
 41  vote_count                    205274 non-null  float64
 42  production_companies_name     205274 non-null  object
 43  production_companies_country  101985 non-null  object
dtypes: float64(12), object(32)
memory usage: 260.0+ MB

In [12]:
print(df.isnull().sum())

tconst                               0
titleType                            0
primaryTitle                         3
originalTitle                        3
isAdult                              0
startYear                       104757
runtimeMinutes                       0
genres_x                         79885
directors                       102873
writers                         210468
titleId                           1974
title_x                           1977
isOriginalTitle                   1974
ordering                         25186
nconst                           25186
category                         25186
job                             730084
characters                      304657
averageRating                   429124
numVotes                        429124
primaryName                      25222
primaryProfession                50922
knownForTitles                   27407
backdrop_path                   641702
budget                          552087
genres_y                        552087
homepage                        727874
imdb_id                         552087
original_language               552087
original_title                  552087
overview                        567982
popularity                      552087
poster_path                     572367
production_countries            552087
release_date                    556302
revenue                         552087
runtime                         552087
status                          552087
tagline                         696541
title_y                         552087
vote_average                    552087
vote_count                      552087
production_companies_name       552087
production_companies_country    655376
dtype: int64

In [13]:
df['id'] = df['nconst'].combine_first(df['tconst'])
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,directors,writers,...,revenue,runtime,status,tagline,title_y,vote_average,vote_count,production_companies_name,production_companies_country,id
0,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,...,0.0,False,Released,NaN,The Corbett-Fitzsimmons Fight,5.526,20.0,['Veriscope Company'],NaN,nm0179163
8,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,100.0,NaN,nm0063413,"nm0063413,nm0657268,nm0675388",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0215752
15,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",nm0846879,nm0846879,...,0.0,True,Released,"The Most Sensational, The Most Thrilling and I...",The Story of the Kelly Gang,5.375,28.0,"['Johnson and Gibson', 'J. & N. Tait']","['', '']",nm0846887
35,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,nm0141150,nm0141150,...,0.0,True,Released,NaN,The Prodigal Son,0.000,0.0,['Pathé Frères'],['FR'],nm0906197
41,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,90.0,Drama,nm0533958,"nm0092809,nm0533958",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm3071427

In [14]:
df.drop(columns=['tconst', 'nconst'], inplace=True)

print(df)

        titleType                                       primaryTitle  \
0           movie                      The Corbett-Fitzsimmons Fight
8           movie                                           Bohemios
15          movie                        The Story of the Kelly Gang
35          movie                                   The Prodigal Son
41          movie                                 Robbery Under Arms
...           ...                                                ...
8431056     movie                                Kuambil Lagi Hatiku
8431075     movie                                  The Copeland Case
8431076     movie  De la ilusión al desconcierto: cine colombiano...
8431093     movie                                    Dankyavar Danka
8431108     movie                                             6 Gunn

                                             originalTitle  isAdult  \
0                            The Corbett-Fitzsimmons Fight      0.0
8                                                 Bohemios      0.0
15                             The Story of the Kelly Gang      0.0
35                                       L'enfant prodigue      0.0
41                                      Robbery Under Arms      0.0
...                                                    ...      ...
8431056                                Kuambil Lagi Hatiku      0.0
8431075                                  The Copeland Case      0.0
8431076  De la ilusión al desconcierto: cine colombiano...      0.0
8431093                                    Dankyavar Danka      0.0
8431108                                             6 Gunn      0.0

         startYear  runtimeMinutes                    genres_x   directors  \
0           1897.0           100.0      Documentary,News,Sport   nm0714557
8           1905.0           100.0                         NaN   nm0063413
15          1906.0            70.0  Action,Adventure,Biography   nm0846879
35          1907.0            90.0                       Drama   nm0141150
41          1907.0            90.0                       Drama   nm0533958
...            ...             ...                         ...         ...
8431056     2019.0           123.0                       Drama   nm4457074
8431075        NaN            90.0                       Drama         NaN
8431076     2007.0           100.0                 Documentary   nm0652213
8431093     2013.0            90.0                      Comedy   nm7764440
8431108     2017.0           116.0                       Drama  nm10538612

                               writers    titleId  ... revenue  runtime  \
0                                  NaN  tt0000147  ...     0.0    False
8        nm0063413,nm0657268,nm0675388  tt0000502  ...     NaN      NaN
15                           nm0846879  tt0000574  ...     0.0     True
35                           nm0141150  tt0000591  ...     0.0     True
41                 nm0092809,nm0533958  tt0000615  ...     NaN      NaN
...                                ...        ...  ...     ...      ...
8431056  nm4843252,nm4900525,nm2679404  tt9916538  ...     NaN      NaN
8431075                      nm7311709  tt9916620  ...     NaN      NaN
8431076           nm0652213,nm10538576  tt9916680  ...     NaN      NaN
8431093                      nm7933903  tt9916706  ...     NaN      NaN
8431108                     nm10538612  tt9916730  ...     NaN      NaN

           status                                            tagline  \
0        Released                                                NaN
8             NaN                                                NaN
15       Released  The Most Sensational, The Most Thrilling and I...
35       Released                                                NaN
41            NaN                                                NaN
...           ...                                                ...
8431056       NaN                                                NaN
8431075       NaN                                                NaN
8431076       NaN                                                NaN
8431093       NaN                                                NaN
8431108       NaN                                                NaN

                               title_y vote_average  vote_count  \
0        The Corbett-Fitzsimmons Fight        5.526        20.0
8                                  NaN          NaN         NaN
15         The Story of the Kelly Gang        5.375        28.0
35                    The Prodigal Son        0.000         0.0
41                                 NaN          NaN         NaN
...                                ...          ...         ...
8431056                            NaN          NaN         NaN
8431075                            NaN          NaN         NaN
8431076                            NaN          NaN         NaN
8431093                            NaN          NaN         NaN
8431108                            NaN          NaN         NaN

                      production_companies_name production_companies_country  \
0                         ['Veriscope Company']                          NaN
8                                           NaN                          NaN
15       ['Johnson and Gibson', 'J. & N. Tait']                     ['', '']
35                             ['Pathé Frères']                       ['FR']
41                                          NaN                          NaN
...                                         ...                          ...
8431056                                     NaN                          NaN
8431075                                     NaN                          NaN
8431076                                     NaN                          NaN
8431093                                     NaN                          NaN
8431108                                     NaN                          NaN

                id
0        nm0179163
8        nm0215752
15       nm0846887
35       nm0906197
41       nm3071427
...            ...
8431056  nm8678236
8431075  nm7311709
8431076  nm0033355
8431093  nm1778107
8431108  nm6096005

[757361 rows x 43 columns]

In [15]:
df['id_imdb'] = df['titleId'].combine_first(df['imdb_id'])
df.drop(columns=['titleId', 'imdb_id'], inplace=True)

In [16]:
df.drop(columns=['title_y'], inplace= True)

In [17]:
df.drop(columns=['job'], inplace= True)

In [18]:
df.drop(columns=['original_title'], inplace= True)

In [19]:
df.drop(columns=['title_x'], inplace= True)

In [20]:
df.drop(columns=['isOriginalTitle', 'ordering'], inplace=True)

In [21]:
df.drop(columns=['runtime'], inplace= True)

In [22]:
display(df.head())

,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,directors,writers,category,...,release_date,revenue,status,tagline,vote_average,vote_count,production_companies_name,production_companies_country,id,id_imdb
0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100.0,"Documentary,News,Sport",nm0714557,NaN,self,...,1897-01-01,0.0,Released,NaN,5.526,20.0,['Veriscope Company'],NaN,nm0179163,tt0000147
8,movie,Bohemios,Bohemios,0.0,1905.0,100.0,NaN,nm0063413,"nm0063413,nm0657268,nm0675388",actor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0215752,tt0000502
15,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",nm0846879,nm0846879,actress,...,1906-12-26,0.0,Released,"The Most Sensational, The Most Thrilling and I...",5.375,28.0,"['Johnson and Gibson', 'J. & N. Tait']","['', '']",nm0846887,tt0000574
35,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,nm0141150,nm0141150,actor,...,1907-06-19,0.0,Released,NaN,0.000,0.0,['Pathé Frères'],['FR'],nm0906197,tt0000591
41,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,90.0,Drama,nm0533958,"nm0092809,nm0533958",actor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm3071427,tt0000615

In [23]:
print(df.isnull().sum())

titleType                            0
primaryTitle                         3
originalTitle                        3
isAdult                              0
startYear                       104757
runtimeMinutes                       0
genres_x                         79885
directors                       102873
writers                         210468
category                         25186
characters                      304657
averageRating                   429124
numVotes                        429124
primaryName                      25222
primaryProfession                50922
knownForTitles                   27407
backdrop_path                   641702
budget                          552087
genres_y                        552087
homepage                        727874
original_language               552087
overview                        567982
popularity                      552087
poster_path                     572367
production_countries            552087
release_date                    556302
revenue                         552087
status                          552087
tagline                         696541
vote_average                    552087
vote_count                      552087
production_companies_name       552087
production_companies_country    655376
id                                   0
id_imdb                           1835
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 757361 entries, 0 to 8431108
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   titleType                     757361 non-null  object
 1   primaryTitle                  757358 non-null  object
 2   originalTitle                 757358 non-null  object
 3   isAdult                       757361 non-null  float64
 4   startYear                     652604 non-null  float64
 5   runtimeMinutes                757361 non-null  float64
 6   genres_x                      677476 non-null  object
 7   directors                     654488 non-null  object
 8   writers                       546893 non-null  object
 9   category                      732175 non-null  object
 10  characters                    452704 non-null  object
 11  averageRating                 328237 non-null  float64
 12  numVotes                      328237 non-null  float64
 13  primaryName                   732139 non-null  object
 14  primaryProfession             706439 non-null  object
 15  knownForTitles                729954 non-null  object
 16  backdrop_path                 115659 non-null  object
 17  budget                        205274 non-null  float64
 18  genres_y                      205274 non-null  object
 19  homepage                      29487 non-null   object
 20  original_language             205274 non-null  object
 21  overview                      189379 non-null  object
 22  popularity                    205274 non-null  float64
 23  poster_path                   184994 non-null  object
 24  production_countries          205274 non-null  object
 25  release_date                  201059 non-null  object
 26  revenue                       205274 non-null  float64
 27  status                        205274 non-null  object
 28  tagline                       60820 non-null   object
 29  vote_average                  205274 non-null  float64
 30  vote_count                    205274 non-null  float64
 31  production_companies_name     205274 non-null  object
 32  production_companies_country  101985 non-null  object
 33  id                            757361 non-null  object
 34  id_imdb                       755526 non-null  object
dtypes: float64(10), object(25)
memory usage: 208.0+ MB

In [25]:
df.value_counts()

titleType  primaryTitle                          originalTitle                         isAdult  startYear  runtimeMinutes  genres_x                    directors                      writers                                  category  characters          averageRating  numVotes  primaryName           primaryProfession                       knownForTitles                               backdrop_path                     budget    genres_y                                                            homepage                                                     original_language  overview                                                                                                                                                                                                                                                                                                                                                                                     popularity  poster_path                       production_countries  release_date  revenue  status    tagline                                                                                                           vote_average  vote_count  production_companies_name                                                                                        production_companies_country  id          id_imdb
video      Wonder Woman                          Wonder Woman                          0.0      2009.0     74.0            Action,Adventure,Animation  nm2304017                      nm0551376,nm2294487,nm2398585,nm1303925  actress   ["Wonder Woman"]    7.2            19214.0   Keri Russell          actress,producer,soundtrack             tt0317919,tt2103281,tt0134247,tt0473308      /bbkIwWJ6OjgppRFWvITlwXqmr8z.jpg  0.0       ['Action', 'Adventure', 'Animation', 'Fantasy', 'Science Fiction']  http://warnervideo.com/wonderwomanmovie/                     en                 On the mystical island of Themyscira, a proud and fierce warrior race of Amazons have raised a daughter of untold beauty, grace and strength: Princess Diana. When an Army fighter pilot, Steve Trevor, crash-lands on the island, the rebellious and headstrong Diana defies Amazonian law by accompanying Trevor back to civilization.                                                     15.962      /zWEMItepejy6FZxemqdchi5dVhs.jpg  ['US']                2009-03-03    0.0      Released  Courageous princess. Fierce warrior. Legendary superhero.                                                         7.226         496.0       ['DC Comics', 'Warner Bros. Animation', 'Warner Premiere']                                                       ['US', 'US', 'US']            nm0005392   tt1186373     1
movie      #Captured                             #Captured                             0.0      2017.0     81.0            Horror,Thriller             nm5381703                      nm5486914,nm15667429                     actress   ["Ashley"]          3.1            1227.0    Lizze Gordon          actress,producer,writer                 tt5376166,tt14175912,tt6856592,tt6589940     /2YJrL2wwTx8KRh5fAHvzhs637vP.jpg  0.0       ['Horror', 'Thriller']                                              http://www.uncorkedentertainment.com/film/captured/          en                 A zealous vigilante looking to clean the Internet of sin targets a group of teens that broadcast misadventures on their chatroom.                                                                                                                                                                                                                                                            5.057       /xNcvOfDbfL14F8SLYe1IlaBP57k.jpg  ['US']                2017-09-05    0.0      Released  Cleansing the internet of all sin                                                                                 3.333         15.0        ['Elliptic Entertainment', 'Thriller Films', 'Ignite Pictures', 'Surreal Post Group', "Uncork'd Entertainment"]  ['', '', '', '', '']          nm5486914   tt6856592     1
video      Highlander: The Search for Vengeance  Highlander: The Search for Vengeance  0.0      2007.0     85.0            Action,Animation,Fantasy    nm0159109,nm1257058,nm0357355  nm0009145,nm0927074                      actor     ["Colin MacLeod"]   6.7            4138.0    Alistair Abell        actor,casting_department,miscellaneous  tt1700841,tt0368578,tt0214341,tt0492680      /K7hP2K921lnIr7MPoviMY0LfNP.jpg   0.0       ['Action', 'Animation', 'Fantasy', 'Science Fiction']               http://www.highlandersearchforvengeance.com/                 en                 Colin MacLeod hunts for the man responsible for the death of his love. He chases the immortal Marcus Octavius across centuries as his quest threatens to take over his life and heart. In his quest, he meets a woman who reminds him of his slain beauty. But it's his final battle with Marcus that will decide not only his fate, but also the fate of everyone in the world.             9.142       /f4htbMf2LORgMjKn0litcUFWuWY.jpg  ['HK', 'JP', 'US']    2007-06-05    0.0      Released  In revenge, patience is a virtue. And after a thousand years, Colin MacLeod doesn't give a damn about virtue ...  7.400         101.0       ['Imagi Animation Studios', 'Madhouse']                                                                          ['HK', 'JP']                  nm0008533   tt0465657     1
           House Sitter 2022                     House Sitter 2022                     0.0      2022.0     70.0            Horror,Thriller             nm1622543,nm11306449           nm9192085,nm11306449                     actress   ["Donna Morrison"]  3.5            11.0      Mahogany Raspberry    actress,director,writer                 tt21988018,tt16037832,tt27675809,tt28016669  /AeWdxXYclbYktDNRsCnmxN8LVc7.jpg  0.0       ['Thriller']                                                        https://www.maverickentertainment.cc/movies/house-sitter/    en                 A young college student takes a job as a house sitter and ends up in a deadly game of hide and seek.                                                                                                                                                                                                                                                                                         2.374       /lw63PbuH3p3gOqUskbt84gPyAnw.jpg  ['US']                2022-02-08    0.0      Released  Be careful of your neighbors...                                                                                   0.000         0.0         ['Maverick Entertainment Group']                                                                                 ['US']                        nm6963751   tt12502466    1
           John Bishop: Supersonic Live          John Bishop: Supersonic Live          0.0      2015.0     80.0            Comedy,Documentary          nm0923935                      nm1831311                                self      ["Self"]            6.8            148.0     John Bishop           actor,writer,producer                   tt1804497,tt1697790,tt28083456,tt0840196     /198gD3bFcdQSIYrlaUd7Rzh5pun.jpg  0.0       ['Comedy']                                                          http://www.johnbishoponline.com/                             en                 John Bishop’s back! After taking time out to write his autobiography, John limbered up again for his third sell-out national Arena tour, ending with a special one-off show at London’s iconic Royal Albert Hall. This latest comedy caper by the immensely talented John Bishop was described as “the funniest two hours you’ll have anywhere, anytime soon” by The Daily Mirror.           1.400       /tZbySv5GshUbwl0TFe0p7EZdmFc.jpg  ['GB']                2015-11-16    0.0      Released  Live at the Royal Albert Hall                                                                                     7.100         4.0         ['Lola Entertainment']                                                                                           ['']                          nm1831311   tt5434568     1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
movie      #Starvecrow                           #Starvecrow                           0.0      2017.0     89.0            Drama,Thriller              nm5674629                      nm5674629,nm5674129                      actor     ["David"]           4.9            25.0      David Bark-Jones      actor,archive_footage                   tt1645155,tt4224588,tt4717422,tt1032755      /aqdwayknxCpRU70kU9cP1WLw5eZ.jpg  0.0       ['Thriller', 'Crime', 'Drama']                                      http://www.starvecrow.com/                                   en                 Ben is a control-freak, charmer, abuser and warped product of the digital age. He films everything. Jess is just out of rehab. Their worlds are dominated by each other.  Jess now needs some space and time apart from Ben and is invited by her friends to their house in the woods for the weekend.  People arrive and the party kicks off… but not everyone attending has been invited.  0.600       /a7mW1QYD3MTMD5dXudDoLSqVQZY.jpg  ['GB']                2016-01-22    795.0    Released  The World’s First “Selfie” Movie                                                                                  0.000         0.0         ['Wild Boar Productions', 'Munro Films']                                                                         ['', '']                      nm0054763   tt2916468     1
           'Til Love Comes                       'Til Love Comes                       0.0      2016.0     78.0            Comedy,Romance              nm3543802                      nm3543802                                actor     ["Bass"]            4.4            27.0      Bernard Johnson       actor                                   tt4199762,tt29454921,tt1475135,tt1582231     /a0Xdb5hAvxjpo2R9sRwgbx0Q4Qy.jpg  0.0       ['Comedy', 'Romance']                                               https://www.maverickentertainment.cc/movies/til-love-comes/  en                 After experiencing a devastating breakup, Bass is set up on a series of disastrous dates by his concerned family. However, dating isn't easy and sometimes love hides where you least expect it.                                                                                                                                                                                             1.111       /als8VjGE6RipOOOUhwxiKMPgSEv.jpg  []                    2017-10-03    0.0      Released  Sometimes Love Hides Were You Least Expect It                                                                     0.000         0.0         ['Maverick Entertainment Group']                                                                                 ['US']                        nm6277069   tt4199762     1
           'Twas the Fight Before Christmas      'Twas the Fight Before Christmas      0.0      2021.0     91.0            Documentary                 nm4127676                      nm4127676                                self      ["Self"]            6.3            901.0     Jeremy Morris         miscellaneous                           tt15353214                                   /nsseuqyttnzWsPFwzNLR7eAxOnJ.jpg  0.0       ['Documentary']                                                     https://tv.apple.com/movie/umc.cmc.lvpflyaolcrevsfje3rt5l6p  en                 In this true-life twist on a holiday fable, Jeremy Morris brings a whole new meaning to Christmas spirit when his extravagant seasonal display sparks a dispute with his neighbors that lands them all in court.                                                                                                                                                                             6.873       /5TNSfR1OdcNHMnJV7QczdqdfaGR.jpg  ['GB']                2021-11-24    0.0      Released  A true tale more tangled than your Christmas lights.                                                              6.100         21.0        ['Dorothy St Pictures']                                                                                          ['GB']                        nm13205210  tt15353214    1
           1 Angry Black Man                     1 Angry Black Man                     0.0      2018.0     92.0            Drama                       nm10135271                     nm10135271                               actor     ["Mike"]            7.4            67.0      Keith Stone Griffith  actor,miscellaneous                     tt9025208,tt6933398,tt9363440                /5VRYAuOgyNb7mPURuI4UM7yIUR4.jpg  500000.0  ['Drama']                                                           https://www.1angryblackman.com                               en                 Mike Anderson is a senior at the quintessential New-England liberal arts school, Frost College. And Mike is eight weeks away from graduation. On this particular day he has his African-American Literature class with his favorite professor. But today, Mike is feeling sadness. He's feeling isolated. He's feeling Angry.                                                                2.366       /husEWGMmmrPaOgU8C4Jef50NPqD.jpg  ['US']                2019-10-12    0.0      Released  Ten students. Four literary legends. And...                                                                       3.000         2.0         ['Align Pictures', 'Soulidifly']                                                                                 ['', '']                      nm11383495  tt9025208     1
           1 Night                               One Night                             0.0      2016.0     80.0            Drama,Romance               nm6850073                      nm6850073                                actress   ["Elizabeth"]       5.7            2156.0    Anna Camp             actress,producer,soundtrack             tt1981677,tt1454029                          /sbqBNJyIRSkiVk7pJdLCUyHXae3.jpg  0.0       ['Drama', 'Romance']                                                http://level33entertainment.com/1_Night.html                 en                 Thirty-something Elizabeth must decide whether to salvage her disappointing relationship with Drew. Meanwhile, Bea, a worrisome teenager, reconnects with her introverted childhood friend, Andy, at their high school prom. Past and present collide as two couples explore love over the course of one night at a hotel.                                                                   7.091       /geYX4v0Jy3PvzFei8QL1educKxh.jpg  ['US']                2016-10-14    0.0      Released  Love can happen at any time.                                                                                      6.345         140.0       ['Sorrento Productions', 'Canosa Productions']                                                                   ['US', '']                    nm2319871   tt4126694     1
Name: count, Length: 5890, dtype: int64

In [26]:
df['status'].nunique()

6

In [27]:
df_total = df

In [28]:
df.to_csv('premier_clean.csv', index=False)